# Local development
# NEXT_PUBLIC_API_URL=http://localhost:8000
# NEXT_PUBLIC_WS_URL=ws://localhost:8000

# Test/staging server (test.pricebasket.in)
NEXT_PUBLIC_API_URL=http://test.pricebasket.in:8000
NEXT_PUBLIC_WS_URL=ws://test.pricebasket.in:8000/ws/prices
